@import "~reset-css";
@import "_fonts";
@import "_custom";
@import "_headers";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

html {
  font-size: 16px;
  font-family: GothamPro, sans-serif;
}

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 1200px) and (orientation: portrait) {

}

@media screen and (max-width: 1200px) and (orientation: landscape) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 460px) {

}

@media screen and (max-width: 768px) and (orientation: landscape){

}

@media screen and (max-width: 380px) {

}
